/*Fuentes de letra*/
@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*Globales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Crimson Text';
    font-weight: 500;
    cursor: url('../cursor/cursorW.svg#icon'), auto;
}

* {
    cursor: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="red" xmlns="http://www.w3.org/2000/svg"><path d="M6.63564 2.28753C5.98325 1.75037 5 2.21445 5 3.05952V17.0583C5 17.9844 6.15025 18.413 6.75622 17.7127L10.2799 13.6402C10.5648 13.3109 10.9788 13.1217 11.4142 13.1217L17.0061 13.1217C17.9444 13.1217 18.3661 11.9461 17.6418 11.3497L6.63564 2.28753Z" fill="red"/></svg>#cursor'), auto;
}



/*Navegador inicio*/
nav {
    padding: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    padding: 15px 0;
}

nav li {
    margin: 0 10px;
    font-size: 18px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6b6b;
}

/*Navegador normal*/
.navNormal {
    background-color: #333;
}

/*Banner*/

.banner {
    background-image: url(../images/sections/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1;
    width: 100%;
    height: calc(100vh);
    margin-bottom: 2rem;
    filter: grayscale(100%);

}


/*Inicio*/

.tituloInicio {
    position: absolute;
    font-family: 'Cinzel Decorative';
    color: white;
    top: 120px;
    left: 90px;
    font-size: 46px;
    filter: drop-shadow(5px 5px 30px #a99f9f);
}



button {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    top: 250px;
    left: 650px;
}

button:active,
button:hover {
    outline: 0;
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}

/*Buscador*/

.contenedor-buscador {
    display: flex; 
    justify-content: center;
    width: 60%; 
}

.input-buscar {
    flex: 2; 
    width: 80%; 
    margin-left: 750px;
    margin-top: 10px; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

.input-buscar:focus {
    border-color: #d32f2f; 
    box-shadow: 0 0 5px rgba(211, 47, 47, 0.5);
    outline: none;
}

/*Cartas coches*/
body {
    margin: 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 16px rgba(209, 10, 10, 0.3);
}

.card img {
    width: 100%;
    height: 300px;
}

.card-content {
    padding: 16px;
}

.price {
    color: #d32f2f;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.car-title {
    color: #333;
    font-weight: 700;
    font-size: 1.2em;
    margin: 8px 0;
}

.info {
    display: flex;
    font-size: 0.9em;
    color: #777;
}


.info span {
    display: inline-block;
}




/*Footer*/

.footer {
    text-align: center;
    margin-bottom: 20px;
}