/*Fuentes de letra*/
@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*Globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text';
}

body {
    background-color: #f0f0f0;
    cursor: url('../cursor/cursorW.svg#icon'), auto;
}

* {
    cursor: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="red" xmlns="http://www.w3.org/2000/svg"><path d="M6.63564 2.28753C5.98325 1.75037 5 2.21445 5 3.05952V17.0583C5 17.9844 6.15025 18.413 6.75622 17.7127L10.2799 13.6402C10.5648 13.3109 10.9788 13.1217 11.4142 13.1217L17.0061 13.1217C17.9444 13.1217 18.3661 11.9461 17.6418 11.3497L6.63564 2.28753Z" fill="red"/></svg>#cursor'), auto;
}

h1{
    margin-top: 150px;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    font-family: 'Crimson Text';
    margin-left: 2px;
}


/*Navegador*/
nav {
    width: 100%;
    padding: 15px;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    padding: 15px 0;
}

nav li {
    margin: 0 10px;
    font-size: 18px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a.active{
    color: #ff6b6b;
}


nav a:hover {
    color: #ff6b6b;
}

@media (max-width: 768px) {

    nav {
        position: relative;
    }

    nav ul {
        flex-direction: column;
        align-items: center; 
        padding: 10px 0; 
        background-color: #333; 
        border-radius: 8px;
    }

    nav li {
        margin: 10px 0; 
    }

    nav a {
        font-size: 16px;
        padding: 10px; 
        width: 100%; 
        text-align: center; 
    }

    .formulario-coche{
        margin-top: 200px;
        max-width: 80%;
        max-height: 80%;
    }
}

/* Formulario */

.centrar-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    margin-top: 60px; 
    margin-bottom: 0;
}


.formulario-coche{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 300px;
    width: 650px;
    height: 700px;
}

.formulario-coche h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-family: 'Cinzel Decorative';
}

.formulario-coche .input-campo {
    font-family: 'Cinzel Decorative';
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.formulario-coche .boton-enviar {
    font-family: 'Cinzel Decorative';
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.formulario-coche .boton-enviar:hover {
    background-color: #45a049;
}

@media (max-width: 468px){
    .formulario-coche{
        padding-bottom: 300px;
    }
}

/*Footer*/

.footer {
    text-align: center;
    margin-bottom: 20px;
}
